/* styles.css */

/* ------------------ Basic Reset ------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------ Body Style ------------------- */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-family: 'Georgia', serif;
    font-weight: 400; /* Normal weight */
    line-height: 1.6;
    font-size: 16px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    font-family: 'Georgia', serif;
    font-weight: 900;
    font-style: italic;
    font-size: 48px;
    color: #313D5A;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 24px;
}

a {
    color: #4f6390;
}

a:hover {
    color: #313D5A;
}

.font-bold {
    font-weight: 700; /* Bold weight */
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #313D5A !important;
    border-color:#313D5A !important;
}

.btn-primary:hover {
    background-color: #4f6390 !important;
    border-color: #4f6390 !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #f4f4f4 !important;
    border-color:#313D5A !important;
    color: #313D5A !important;
}

/* --------------------- Header -------------------- */
header {
    color: #333;
    text-align: center;
    background-color: none;
}

.site-header {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* ------------------ Navigation ------------------- */

.nav-wrapper {
    padding: 20px 0;
    width: 100%;
    display: d-flex;
}

nav {
    color: #fff;
    font-size: 0.85rem;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0;
    font-size: 1.1em;
    font-weight: 400; /* Normal weight */
}

nav a:visited {
    color: #fff;
}

nav a:hover {
    color: #999;
}

.logo {
    width:48px;
}

/* ------------------ Main Content ----------------- */
main {
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    max-width: 1080px;
    flex: 1;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 0.75rem !important;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
}

.card:nth-child(1) {
    animation-delay: 0.1s;
    }
    
    .card:nth-child(2) {
    animation-delay: 0.3s;
    }
    
    .card:nth-child(3) {
    animation-delay: 0.5s;
    }
    
    @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover img {
    filter: brightness(60%);
}

.card:hover .overlay {
    opacity: 1;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.filler {
    background-color: #999;
    width: 600px;
    height: 300px;
}

/* Form */

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #999;
}

/* --------------------- Footer -------------------- */

.about {
    background-color: #f5e9e9;
    padding: 32px 0;
    margin-top: 60px;
}

footer {
    min-height: 120px;
    padding: 16px 0;
    background-color: #313D5A;
}

footer p {
    margin: 0;
    font-size: 0.85rem;
    color: #fff;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
}

/* ---------------- Utility Classes ---------------- */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}